body {
  display: flex;
  justify-content: center;
}
.main {
  width: 95%;
  margin: 10px;
  padding: 10px;
}

.head-part {
  width: auto;
  height: 50px;
  padding: 5px;
  border-bottom: solid thin;
  margin-bottom: 10px;
}
#heading-index-page {
  color: orange;
  text-align: end;
  margin-right: 100px;
}

#heading-centered {
  color: orange;
  text-align: center;
}

#flowers {
  margin-top: 5px;
  width: 60%;
  height: auto;
}

#Abeliophyllum-image {
  width: 30%;
  height: auto;
}

#Agerantum-image {
  width: 45%;
  height: auto;
}

.body-part {
  width: auto;
  display: flex;
  flex-direction: row;
  font-size: large;
  padding: 5px;
}

.navigator {
  width: 40%;
  padding: 5px;
}

.description {
  width: auto;
  margin-top: 200px;
  padding: 20px;
}

.list {
  margin-top: 200px;
}

#jug {
  margin-left: 100px;
}

#guest-book {
  margin-left: 5px;
}
